.headerAppBar {
  margin-left: 280px !important;
  width: calc(100% - 280px) !important;
  height: 64px !important;
  background-color: #1976D2 !important;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15) !important;
}